@model ItemDeleteModel
@{
    ViewData["Title"] = "Eliminar artículo";
}

<section class="mt-5 pb-5" ng-controller="DeleteItemController">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mb-3 text-center">Eliminar artículo</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form class="border p-3" ng-submit="submit()">
                    <div class="form-group row">
                        <label asp-for="Code" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="Code" class="form-control" ng-model="item.code">
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col text-center">
                            <span class="text-danger" ng-cloak>{{error}}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-lg btn-primary">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts 
{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}